RewriteEngine On
RewriteBase /Global-client/

# Fuerza la barra después de Global-client
RewriteCond %{REQUEST_URI} ^/Global-client[^/]
RewriteRule ^Global-client(.*)$ /Global-client/$1 [L,R=301]

# Ignora archivos/carpetas existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige todo a index.php
RewriteRule ^ index.php [QSA,L]
