.registro{
    width: min(95%, 500px);
    margin: 0 auto;
    min-height: 40vh;
}

.registro__heading{
      text-align: center;
      font-size: 2rem;
}

.registro__texto{
    font-size: 1rem;
    margin: 0;
}

.acciones{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.acciones__enlace{
    display: block;
    text-align: left;
}